annotated-types==0.7.0
cloudpickle==3.1.1
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.3.2
nvidia-ml-py==13.580.65
psutil==7.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
rich==14.1.0
scalene==1.5.54
typing-inspection==0.4.1
typing_extensions==4.15.0
